{% extends "advert/base.html" %}

{% block title %}
CONTACT
{% endblock %}

{% block content %}

{% include "advert/components/nav.html" %}


{% with %}
{% set heading="Contact" %}
{% set background="advert/assets/img/contact-bg.jpg" %}
{% include "advert/components/header.html" %}
{% endwith %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Хочешь связаться? Отправь голубей!</p>
                <div class="my-5">
                    <form id="contactForm" method="post">
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." name="name"/>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="email" type="email" placeholder="Enter your email..." name="email"/>
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 12rem" name="message"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback">A message is required.</div>
                        </div>
                        <br />

                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "advert/components/footer.html" %}
{% endblock %}